In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
sns.set_style("whitegrid")
plt.rcParams["figure.figsize"] = (12, 7)

In [2]:
print (os.getcwd())

C:\Users\udita\Food Inflation

In [3]:
df = pd.read_csv(r"C:\Users\udita\Food Inflation\Essential_food_inflation_2024_2025.csv")

In [27]:
df.head(5)

   SN NO. PRODUCT           STATE  YEAR  PRICE
0       1   wheat  Madhya Pradesh  2024   2590
1       2   wheat  Madhya Pradesh  2025   2653
2       3   wheat   Uttar Pradesh  2024   2360
3       4   wheat   Uttar Pradesh  2025   2425
4       5   wheat     West Bengal  2024   2500

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SN NO.              72 non-null     int64
 1   PRODUCT             72 non-null     object
 2   STATE               72 non-null     object
 3   YEAR                72 non-null     int64
 4   PRICE (RS/Quintal)  72 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.9+ KB

In [6]:
df.describe()

         SN NO.         YEAR  PRICE (RS/Quintal)
count  72.00000    72.000000           72.000000
mean   36.50000  2024.500000         5046.472222
std    20.92845     0.503509         4562.961618
min     1.00000  2024.000000          300.000000
25%    18.75000  2024.000000         1950.000000
50%    36.50000  2024.500000         3120.000000
75%    54.25000  2025.000000         6092.500000
max    72.00000  2025.000000        18200.000000

In [28]:
df = df.rename(columns={'PRICE (RS/Quintal)': 'PRICE'})
df.shape
df.columns
df.columns = df.columns.str.strip().str.upper()

In [39]:
df.loc[df["SN NO."]=="56","PRICE"]=9000

In [40]:
df.to_csv("Essential_food_inflation_2024_2025.csv", index=False)

In [8]:
df.isnull().sum()

SN NO.      0
PRODUCT     0
STATE       0
YEAR        0
PRICE       0
dtype: int64

In [9]:
df['YEAR']=df['YEAR'].astype(int)
print(df['YEAR'].dtype)

int32

In [34]:
filtered = df[df["STATE"]=="Madhya Pradesh"]
filtered.columns = filtered.columns.str.strip().str.upper()

print(filtered)

    SN NO.      PRODUCT           STATE  YEAR  PRICE
0        1        wheat  Madhya Pradesh  2024   2590
1        2        wheat  Madhya Pradesh  2025   2653
8        9         Rice  Madhya Pradesh  2024   2439
9       10         Rice  Madhya Pradesh  2025   2900
16      17        Onion  Madhya Pradesh  2024   1677
17      18        Onion  Madhya Pradesh  2025   1000
24      25      Tur Dal  Madhya Pradesh  2024   5417
25      26      Tur Dal  Madhya Pradesh  2025   5500
32      33       Tomato  Madhya Pradesh  2024   1500
33      34       Tomato  Madhya Pradesh  2025   2000
40      41       Potato  Madhya Pradesh  2024   2000
41      42       Potato  Madhya Pradesh  2025   1396
48      49       Garlic  Madhya Pradesh  2024   7500
49      50       Garlic  Madhya Pradesh  2025   3000
56      57        Sugar  Madhya Pradesh  2024   3760
57      58        Sugar  Madhya Pradesh  2025   3850
64      65  Mustard Oil  Madhya Pradesh  2024  10000
65      66  Mustard Oil  Madhya Pradesh  2025  14400

In [35]:
pivoted = filtered.pivot_table(index= "PRODUCT",columns="YEAR", values="PRICE")

# Step 2: Calculate percentage change
pivoted["Perc_Change"] = ((pivoted[2025] - pivoted[2024]) / pivoted[2024]) * 100

print(pivoted.reset_index())

YEAR      PRODUCT     2024     2025  Perc_Change
0          Garlic   7500.0   3000.0   -60.000000
1     Mustard Oil  10000.0  14400.0    44.000000
2           Onion   1677.0   1000.0   -40.369708
3          Potato   2000.0   1396.0   -30.200000
4            Rice   2439.0   2900.0    18.901189
5           Sugar   3760.0   3850.0     2.393617
6          Tomato   1500.0   2000.0    33.333333
7         Tur Dal   5417.0   5500.0     1.532213
8           wheat   2590.0   2653.0     2.432432

In [31]:
print(filtered.columns.to_list())

['SN NO.', 'PRODUCT ', 'STATE', 'YEAR', 'PRICE']

In [41]:
filtered1 = df[df["STATE"]=="Uttar Pradesh"]
filtered1.columns = filtered.columns.str.strip().str.upper()
print(filtered1)

    SN NO.      PRODUCT          STATE  YEAR  PRICE
2        3        wheat  Uttar Pradesh  2024   2360
3        4        wheat  Uttar Pradesh  2025   2425
10      11         Rice  Uttar Pradesh  2024   3040
11      12         Rice  Uttar Pradesh  2025   3370
18      19        Onion  Uttar Pradesh  2024   1570
19      20        Onion  Uttar Pradesh  2025   1220
26      27      Tur Dal  Uttar Pradesh  2024  13900
27      28      Tur Dal  Uttar Pradesh  2025  11150
34      35       Tomato  Uttar Pradesh  2024   1370
35      36       Tomato  Uttar Pradesh  2025   1300
42      43       Potato  Uttar Pradesh  2024   1800
43      44       Potato  Uttar Pradesh  2025   1240
50      51       Garlic  Uttar Pradesh  2024   9900
51      52       Garlic  Uttar Pradesh  2025   6250
58      59        Sugar  Uttar Pradesh  2024   4130
59      60        Sugar  Uttar Pradesh  2025   4230
66      67  Mustard Oil  Uttar Pradesh  2024  12600
67      68  Mustard Oil  Uttar Pradesh  2025  14480

In [43]:
filtered2 = df[df["STATE"]=="Punjab"]
filtered2.columns = filtered.columns.str.strip().str.upper()
print(filtered2)

    SN NO.      PRODUCT   STATE  YEAR  PRICE
6        7        wheat  Punjab  2024   2275
7        8        wheat  Punjab  2025   2430
14      15         Rice  Punjab  2024   2203
15      16         Rice  Punjab  2025   4500
22      23        Onion  Punjab  2024   1100
23      24        Onion  Punjab  2025   1600
30      31      Tur Dal  Punjab  2024   6040
31      32      Tur Dal  Punjab  2025  10880
38      39       Tomato  Punjab  2024    400
39      40       Tomato  Punjab  2025    300
46      47       Potato  Punjab  2024   1000
47      48       Potato  Punjab  2025    400
54      55       Garlic  Punjab  2024   6000
55      56       Garlic  Punjab  2025   2500
62      63        Sugar  Punjab  2024   4018
63      64        Sugar  Punjab  2025   4035
70      71  Mustard Oil  Punjab  2024  13000
71      72  Mustard Oil  Punjab  2025  12200

In [47]:
df.loc[55,"PRICE"]=9000
df.head(60)

    SN NO.  PRODUCT           STATE  YEAR  PRICE
0        1    wheat  Madhya Pradesh  2024   2590
1        2    wheat  Madhya Pradesh  2025   2653
2        3    wheat   Uttar Pradesh  2024   2360
3        4    wheat   Uttar Pradesh  2025   2425
4        5    wheat     West Bengal  2024   2500
5        6    wheat     West Bengal  2025   2750
6        7    wheat          Punjab  2024   2275
7        8    wheat          Punjab  2025   2430
8        9     Rice  Madhya Pradesh  2024   2439
9       10     Rice  Madhya Pradesh  2025   2900
10      11     Rice   Uttar Pradesh  2024   3040
11      12     Rice   Uttar Pradesh  2025   3370
12      13     Rice     West Bengal  2024   3300
13      14     Rice     West Bengal  2025   4125
14      15     Rice          Punjab  2024   2203
15      16     Rice          Punjab  2025   4500
16      17    Onion  Madhya Pradesh  2024   1677
17      18    Onion  Madhya Pradesh  2025   1000
18      19    Onion   Uttar Pradesh  2024   1570
19      20    Onion   Uttar Pradesh  2025   1220
20      21    Onion     West Bengal  2024   2750
21      22    Onion     West Bengal  2025   1800
22      23    Onion          Punjab  2024   1100
23      24    Onion          Punjab  2025   1600
24      25  Tur Dal  Madhya Pradesh  2024   5417
25      26  Tur Dal  Madhya Pradesh  2025   5500
26      27  Tur Dal   Uttar Pradesh  2024  13900
27      28  Tur Dal   Uttar Pradesh  2025  11150
28      29  Tur Dal     West Bengal  2024  14500
29      30  Tur Dal     West Bengal  2025  12000
30      31  Tur Dal          Punjab  2024   6040
31      32  Tur Dal          Punjab  2025  10880
32      33   Tomato  Madhya Pradesh  2024   1500
33      34   Tomato  Madhya Pradesh  2025   2000
34      35   Tomato   Uttar Pradesh  2024   1370
35      36   Tomato   Uttar Pradesh  2025   1300
36      37   Tomato     West Bengal  2024   3800
37      38   Tomato     West Bengal  2025   3200
38      39   Tomato          Punjab  2024    400
39      40   Tomato          Punjab  2025    300
40      41   Potato  Madhya Pradesh  2024   2000
41      42   Potato  Madhya Pradesh  2025   1396
42      43   Potato   Uttar Pradesh  2024   1800
43      44   Potato   Uttar Pradesh  2025   1240
44      45   Potato     West Bengal  2024   2260
45      46   Potato     West Bengal  2025   1320
46      47   Potato          Punjab  2024   1000
47      48   Potato          Punjab  2025    400
48      49   Garlic  Madhya Pradesh  2024   7500
49      50   Garlic  Madhya Pradesh  2025   3000
50      51   Garlic   Uttar Pradesh  2024   9900
51      52   Garlic   Uttar Pradesh  2025   6250
52      53   Garlic     West Bengal  2024  18200
53      54   Garlic     West Bengal  2025   8250
54      55   Garlic          Punjab  2024   6000
55      56   Garlic          Punjab  2025   9000
56      57    Sugar  Madhya Pradesh  2024   3760
57      58    Sugar  Madhya Pradesh  2025   3850
58      59    Sugar   Uttar Pradesh  2024   4130
59      60    Sugar   Uttar Pradesh  2025   4230